/*! The main stylesheet for the Sedona project */

@charset "UTF-8";

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}

.sprite {
  background-image: url("../img/sprite.pgn");
  background-repeat: no-repeat;
  display: block;
}

.sprite-checkbox {
  background-position: -5px -5px;
  height: 22px;
  width: 22px;
}

.sprite-checkbox-checked {
  background-position: -37px -5px;
  height: 22px;
  width: 26px;
}

.sprite-htmlacademy-logo {
  background-position: -73px -5px;
  height: 39px;
  width: 113px;
}

.sprite-htmlacademy-logo-active {
  background-position: -5px -54px;
  height: 39px;
  width: 113px;
}

.sprite-htmlacademy-logo-hovered {
  background-position: -5px -103px;
  height: 39px;
  width: 113px;
}

.sprite-icon-calendar {
  background-position: -128px -54px;
  height: 22px;
  width: 21px;
}

.sprite-icon-calendar-active {
  background-position: -159px -54px;
  height: 22px;
  width: 21px;
}

.sprite-icon-calendar-hovered {
  background-position: -128px -86px;
  height: 22px;
  width: 21px;
}

.sprite-icon-facebook {
  background-position: -196px -5px;
  height: 19px;
  width: 10px;
}

.sprite-icon-food {
  background-position: -128px -118px;
  height: 70px;
  width: 74px;
}

.sprite-icon-housing {
  background-position: -216px -5px;
  height: 72px;
  width: 75px;
}

.sprite-icon-souvenir {
  background-position: -212px -87px;
  height: 76px;
  width: 64px;
}

.sprite-icon-star {
  background-position: -159px -87px;
  height: 17px;
  width: 18px;
}

.sprite-icon-twitter {
  background-position: -5px -173px;
  height: 15px;
  width: 17px;
}

.sprite-icon-youtube {
  background-position: -32px -173px;
  height: 16px;
  width: 20px;
}

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  min-width: 1200px;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  color: #000;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.wrapper {
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}


.first-heading {
  font-size: 30px;
  line-height: 0.8;
}

.second-heading {
  font-size: 21px;
  line-height: 1.23809524;
}

/* ==========================================================================
   Header
   ========================================================================== */
.main-header {
  min-height: 564px;
}

.inner-page .main-header {
  min-height: 56px;
}

.main-navigation {
  background-color: #fff;
  padding: 0;
  position: relative;
}

.main-navigation-list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation-list li {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.85714286;
  padding: 14px 0 15px;
  vertical-align: baseline;
  width: 240px;
}

.main-navigation-list li:nth-child(1) {
  padding-left: 72px;
  text-align: left;
}

.main-navigation-list li:nth-child(2) {
  margin-right: 120px;
  padding-left: 72px;
  text-align: left;
}

.main-navigation-list li:nth-child(3) {
  margin-left: 120px;
  padding-right: 72px;
  text-align: right;
}

.main-navigation-list li:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}

.main-navigation-list a {
  color: #000;
  text-decoration: none;
}

.main-navigation-list a:not(.is-active):hover {
  color: #a3c7de;
}

.main-navigation-list a:not(.is-active):active {
  opacity: 0.3;
}

.main-navigation-list .is-active {
  color: #766357;
  cursor: default;
}

.main-logo {
  display: block;
  height: 70px;
  left: 50%;
  margin-left: -69px;
  position: absolute;
  top: 0;
  width: 138px;
  z-index: 1;
}

.main-logo > img {
  display: block;
  height: 100%;
  width: 100%;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  padding: 36px 0;
  position: relative;
  z-index: 1;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  align-items: center;
  display: flex;
  flex: none;
  justify-content: center;
  width: 33.3333333%;
}

.footer-hashtag > a {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.footer-hashtag > a:hover {
  color: #81b3d2;
}

.footer-social {
  font-size: 0;
}

.social-btn {
  background: #81b3d2;
  display: inline-block;
  height: 48px;
  margin-right: 6px;
  position: relative;
  vertical-align: middle;
  width: 46px;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn::before {
  background: transparent url("../img/sprite.png") no-repeat;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-btn:active::before {
  opacity: 0.3;
}

.social-btn-tw::before {
  background-position: -5px -173px;
  height: 15px;
  width: 17px;
}

.social-btn-fb::before {
  background-position: -196px -5px;
  height: 19px;
  width: 10px;
}

.social-btn-yt::before {
  background-position: -32px -173px;
  height: 16px;
  width: 20px;
}

.footer-copyright {
  font-size: 0;
}

.footer-copyright > p {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  margin-right: 8px;
  vertical-align: middle;
}

.htmlacademy-logo {
  background: transparent url("../img/sprite.png") -73px -5px no-repeat;
  height: 39px;
  font-size: 0;
  display: inline-block;
  width: 113px;
  vertical-align: middle;
}

.htmlacademy-logo:hover {
  background-position: -5px -103px;
}

.htmlacademy-logo:active {
  background-position: -5px -54px;
}

/* ==========================================================================
   Index page
   ========================================================================== */

/* *************** Welcome *************** */
.welcome {
  background: #a9b8c3 url("../img/welcome-bg.jpg") no-repeat;
  height: 508px;
  padding-top: 76px;
  position: relative;
  text-align: center;
}

.welcome::after {
  background: transparent url("../img/welcome-mask.png") no-repeat;
  bottom: 0;
  content: "";
  height: 57px;
  left: 0;
  position: absolute;
  width: 100%;
}

.welcome h1 {
  font-size: 0;
  height: 352px;
  margin: 0 auto;
  width: 458px;
}

.welcome img {
  display: block;
  height: 100%;
  width: 100%;
}

/* *************** Reasons *************** */
.reasons {
  margin-bottom: 56px;
}

.reasons-header {
  padding: 61px 0 50px;
  text-align: center;
}

.reasons-header .section-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.23809524;
  margin: 0 auto 27px;
  max-width: 445px;
}

.reasons-header .section-subtitle {
  line-height: 1.85714286;
  margin: 0;
}

.reasons-large-item {
  display: flex;
}

.reasons-item-description {
  background-color: #81b3d2;
  color: #fff;
  flex: none;
  padding: 55px 50px 40px;
  text-align: center;
  width: 33.3333333%;
}

.reasons-item-description .section-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto 25px;
  max-width: 172px;
}

.reasons-item-description .section-subtitle {
  margin: 0 auto;
  max-width: 300px;
  padding: 0;
}

.reasons-row {
  background-color: #eee;
  display: flex;
  min-height: 256px;
}

.reasons-item {
  color: #333;
  flex: none;
  padding: 48px 50px 57px;
  text-align: center;
  width: 33.3333333%;
}

.reasons-item .section-title {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto 21px;
  max-width: 150px;
}

.reasons-item .section-subtitle {
  margin: 0 auto;
  max-width: 300px;
  padding: 0;
}

.reasons-number {
  display: block;
  position: relative;
  margin-bottom: 22px;
}

.reasons-item-image {
  flex: none;
  overflow: hidden;
  width: 66.6666666%;
}

.reasons-item-image > img {
  display: block;
  height: 100%;
  width: 100%;
}

/* *************** Features *************** */
.features {
  background-color: #fff;
  display: flex;
}

.features-item {
  background-position: top center;
  background-repeat: no-repeat;
  color: #000;
  flex: none;
  padding: 164px 40px 81px;
  position: relative;
  text-align: center;
  width: 33.3333333%;
}

.features-item::before {
  background: transparent url("../img/sprite.png") no-repeat;
  content: "";
  left: 50%;
  position: absolute;
  top: 57px;
  transform: translateX(-50%);
}

.features-item-housing::before {
  background-position: -216px -5px;
  height: 72px;
  width: 75px;
}

.features-item-food::before {
  background-position: -128px -118px;
  height: 70px;
  width: 74px;
}

.features-item-souvenir::before {
  background-position: -212px -87px;
  height: 76px;
  width: 64px;
}

.features-item .section-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto 22px;
  max-width: 172px;
}

.features-item .section-subtitle {
  color: #333;
  margin: 0;
  max-width: 300px;
  padding: 0;
}

/* *************** Hotel-search *************** */
.hotel-search {
  margin-bottom: -120px;
  min-height: 884px;
}

.hotel-search-header {
  margin-bottom: 48px;
  text-align: center;
}

.hotel-search-header .section-title {
  font-size: 30px;
  line-height: 0.8;
  margin: 0 0 30px;
}

.hotel-search-header .section-subtitle {
  line-height: 1.71428571;
  margin: 0 auto;
  max-width: 440px;
}

.hotel-search-form {
  margin: 0 auto;
  position: relative;
  width: 568px;
}

.hotel-search-form-toggle {
  margin: 0;
  text-align: center;
}

.hotel-search-form-toggle > .btn {
  background-color: #766357;
  border: none;
  color: #fff;
  display: block;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.23809524;
  outline: none;
  padding: 30px 0;
  text-transform: uppercase;
  width: 100%;
}

.hotel-search-form-toggle > .btn:hover {
  background-color: #604e43;
}

.hotel-search-form-toggle > .btn:active {
  background-color: #503e33t;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-form-content {
  background-color: #fff;
  box-shadow: 0 0 40px -5px #494848;
  left: 0;
  min-height: 395px;
  padding: 55px;
  position: absolute;
  top: 86px;
  width: 100%;
  z-index: 1;
}

.hotel-search-form-content .form-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.hotel-search-form-content .btn-submit {
  background-color: #81b3d2;
  border: none;
  color: #fff;
  display: block;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.23809524;
  margin-top: 54px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.hotel-search-form-content .btn-submit:hover {
  background-color: #669ec0;
}

.hotel-search-form-content .btn-submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-form-content .label {
  font-weight: 700;
}

.hotel-search-form-content .input {
  background-color: #f2f2f2;
  border: 0;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.85714286;
  text-transform: uppercase;
}

.hotel-search-form-content .input:hover {
  background-color: #ebebeb;
}

.hotel-search-form-content .input:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: 0;
}

.hotel-search-form-content .input-datepicker {
  padding: 6px 13px;
  padding-right: 30px;
  width: 100%;
}

.hotel-search-form-content .datepicker {
  position: relative;
  width: 346px;
}

.btn-datepicker {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -128px -54px;
  border: none;
  color: transparent;
  font-size: 0;
  height: 22px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  width: 21px;
}

.btn-datepicker:hover {
  background-position: -128px -86px;
}

.btn-datepicker:active {
  background-position: -159px -54px;
}

.hotel-search-form-content .btn-datepicker {
  right: 9px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.plus-minus-count {
  display: flex;
}

.hotel-search-form-content .plus-minus-count {
  width: 114px;
}

.plus-minus-count > .input {
  text-align: center;
  width: 38px;
}

.plus-minus-count > .btn {
  background-color: #f2f2f2;
  border: 0;
  color: #a9a9a9;
  height: 38px;
  font-size: 0;
  position: relative;
  width: 38px;
}

.plus-minus-count > .btn:hover {
  color: #000;
}

.plus-minus-count > .btn:active {
  color: #81b3d2;
}

.plus-minus-count > .btn-minus::before,
.plus-minus-count > .btn-plus::before,
.plus-minus-count > .btn-plus::after {
  background-color: currentColor;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
}

.plus-minus-count > .btn-plus::after {
  transform: translate(-50%, -50%) rotate(90deg) ;
}

.hotel-search-map {
  height: 593px;
  width: 100%;
}

.hotel-search-map > img {
  display: block;
  height: 100%;
  width: 100%;
}

/* ==========================================================================
   Hotels page
   ========================================================================== */

/* *************** Hotels-filter *************** */
.hotels-filter {
  background-color: #a9b8c3;
  color: #fff;
  min-height: 217px;
}

.hotels-filter-form {
  display: flex;
}

.infrastructure,
.housing-type {
  flex: none;
  width: 255px;
}

.daily-cost {
  flex: none;
  margin-left: auto;
  width: 318px;
}

/* *************** Hotels-results *************** */
.hotels-results-header {
  border-bottom: 1px solid #e5e5e5;
  min-height: 86px;
}

.hotel-item {
  border-bottom: 1px solid #e5e5e5;
  min-height: 150px;
}
